/* About Section */

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: black;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(circle 100px at var(--x) var(--y), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 60%);  
  pointer-events: none; /* Allow interaction below the flashlight */
  transform: translate(calc(var(--x, 50%) - 100px), calc(var(--y, 50%) - 100px));
  transition: transform 0.05s ease-out;
  z-index: 100; /* Make sure it’s above the main page but below text */
}

.about-header {
  position: relative;
  z-index: 10;
  padding: 10px;
}

.about-container {
  color: black;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%; /* Ensure it spans the full width of the viewport */
  max-width: 750px;
  padding: 1rem; /* Add some padding */
  box-sizing: border-box; /* Ensure padding doesn't affect the layout size */
  position: relative;
  margin: 0 auto; /* Center horizontally (fallback) */
  top: 30%;
  z-index: 100; /* Ensure it appears above the flashlight effect */
  text-align: center; /* Align text content in the center */
}


.about-text {
  flex: 1; /* Allow the text to take up available space */
}

.guide {
  width: 100%; /* Ensure it spans the full width of the viewport */
  margin: 1rem;
  top: 80%;
  text-align: center;
}

.exposed-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed; /* Center relative to viewport */
  bottom: 43%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, 0);
  text-align: center;
  z-index: 100;
}

.exposed-button:hover {
  background-color: #007bff;
}

.hidden-skill {
  position: fixed; /* Ensure it stays in place */
  bottom: 35%; /* Center vertically */
  left: 30%; /* Center horizontally */
  text-align: center;
  font-size: 1.5rem;
  color: white;
  visibility: hidden; /* Hide initially */
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.hidden-skill:hover {
  visibility: visible;
  opacity: 1; /* Gradually make it visible */
}

.flashlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: radial-gradient(circle 100px at var(--x) var(--y), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 60%);
  pointer-events: none;
}