.project-container {
  display: flex;
  justify-content: space-around;
  height: calc(100vh - 150px);
  margin-top: 40px;
  gap: 50px;
}

.project-one {
  width: auto;
}

.project-two {
  width: auto;
}

.project-three {
  width: auto;
}