.project-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  margin-top: 40px;
  gap: 50px;
}

.project-section {
  margin-top: 250px;
  width: auto;
}

.project-link {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}

.project-link:hover {
  cursor: pointer;
}

.pop-up:hover h2 {
  margin-bottom: 25px;
}

.pop-up img {
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.pop-up p {
  width: auto;
  opacity: 0;
  transition: transform 0.3s ease-in-out;
}

.pop-up:hover {
  height: 200px;
  width: auto;
}

.pop-up:hover img {
  transform: scale(1.2);
}

.pop-up:hover p {
  opacity: 1;
  margin-top: 25px;
  transform: translateY(0);
}