/* General CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(60deg, red, pink, blue);
  background-size: 400% 400%;
  animation: gradient-animation 8s infinite;
  min-height: 100vh;
}

body {
  font-family: 'Times New Roman', Times, serif;
  min-height: 100%;
  color: #333;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } 
}

h1 {
  color: black;
  text-align: center;
  margin-top: 50px;
}

h2 {
  color: black;
  text-align: center;
  margin: auto;
}

.button {
  padding: 0.8rem 1.5rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 0.5rem;
  display: inline-block;
  transition: background-color 0.3s ease;
}

header {
  background-color: #333;
  color: white;
  padding: 0.5em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.button:hover {
  background-color: #0056b3;
}

.headers {
  color: black;
  text-align: center;
  margin: auto;
}

p {
  text-align: center;
}

p.bottom-text {
  color: black;
  position: fixed; /* Sticks to the viewport */
  bottom: 0;       /* Positions it at the bottom */
  width: 100%;     /* Makes it span the full width of the page */
  text-align: center; /* Centers the text */
  padding: 10px;   /* Optional: padding for spacing */
  z-index: 100;    /* Keeps it above other elements */
}

/* */

/* Images */
img  {
  width: 200px;
  height: auto;
}


/* Nav bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 1.5em;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}
/* */

