/* General CSS */
body {
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(60deg, red, pink, blue);
  background-size: 400% 400%;
  animation: gradient-animation 8s infinite;
  color: #333;
  
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: black;
  text-align: center;
  margin-top: 50px;

}

h2 {
  color: black;
  text-align: center;
  margin: auto;
}

.button {
  padding: 0.8rem 1.5rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 0.5rem;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.headers {
  color: black;
  text-align: center;
  margin: auto;
}

p {
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem 0;
}
/* */


/* Nav bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 1.5em;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}
/* */

